# Set up Homebrew (http://brew.sh/)
  - name: Install Homebrew
    shell: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
    register: homebrew_result
    failed_when: "homebrew_result.rc != 0 and 'Homebrew is already installed' not in homebrew_result.stderr"

  - name: Tap homebrew/cask
    homebrew_tap:
      tap: caskroom/cask

  - name: Tap homebrew/dupes
    homebrew_tap:
      tap: homebrew/dupes

  - name: Install Homebrew Cask
    homebrew:
      name: brew-cask
      state: latest

  - name: Tap brew/services
    homebrew_tap:
      tap: homebrew/services

  - name: Get Brew prefix
    shell: echo $(brew --prefix)
    register: brew_prefix