---

  - name: Unload default Apache service
    command: launchctl unload /System/Library/LaunchDaemons/org.apache.httpd.plist 2>/dev/null
    sudo: yes
    tags:
      - apache

  # There's currently a bug with the Homebrew Ansible module where it won't
  # install packages with slashes, so we need to tap to the base first.
  # See: https://github.com/ansible/ansible-modules-extras/issues/252
  - name: Tap Apache repo
    homebrew_tap:
      tap: homebrew/apache
    tags:
      - apache

  - name: Install Apache 2.2
    homebrew:
      name: httpd22
      state: latest
      install_options:
        - with-brewed-openssl
        - with-mpm-event
    tags:
      - apache

  - name: Install Apache mod_fastcgi
    homebrew:
      name: mod_fastcgi
      state: latest
      install_options:
        - with-homebrew-httpd22
    tags:
      - apache

  - name: Configure Apache
    template:
      src: httpd22.conf.j2
      dest: /usr/local/etc/apache2/2.2/httpd.conf
    notify:
      - Restart Apache
    tags:
      - apache

  - name: Create vhosts directory
    file:
      dest: "{{ vhost_directory }}"
      state: directory
    tags:
      - apache

  - name: Create Apache logs directory
    file:
      dest: "{{ apache_log_dir }}"
      state: directory
    tags:
      - apache

  - name: Create SSL directory
    file:
      dest: "{{ apache_ssl_dir }}"
      state: directory
    tags:
      - apache

  - name: Configure firewall port forwarding
    template:
        src: co.echo.httpdfwd.plist.j2
        dest: /Library/LaunchDaemons/co.echo.httpdfwd.plist
    notify:
      - Start port forwarding
    sudo: yes
    tags:
      - apache

  - name: Configure SSL inclusion
    template:
      src: ssl-shared-cert.inc.j2
      dest: "{{ apache_ssl_dir }}/ssl-shared-cert.inc"
    notify:
      - Restart Apache
    tags:
      - apache

  - name: Generate Self Signed SSL certificate
    command: 'openssl req -new -nodes -x509 -subj "{{ ssl_subject }}" -days 3650 -keyout {{ apache_ssl_dir }}/private.key -out {{ apache_ssl_dir }}/selfsigned.crt -extensions v3_ca'
    args:
      creates: "{{ apache_ssl_dir }}/private.key"
    notify:
      - Restart Apache
    tags:
      - apache

  - name: Copy vhost stub
    template:
      src: vhost-template.vhost.stub.j2
      dest: "{{ vhost_directory }}/00-vhost-template.vhost.stub"
    tags:
      - apache

  - name: Copy SSL vhost stub
    template:
      src: ssl-vhost-template.vhost.stub.j2
      dest: "{{ vhost_directory }}/00-ssl-vhost-template.vhost.stub"
    tags:
      - apache