---

  - name: Install MySQL
    homebrew:
      name: mysql
      state: present
    tags:
      - mysql

  - name: Get MySQL Homebrew prefix
    shell: echo $(brew --prefix mysql)
    register: mysql_brew_prefix
    tags:
      - mysql

  - name: Debug 1
    debug:
      msg: "{{ mysql_brew_prefix }}"

  - name: Debug 2 
    debug:
      msg: "{{ brew_prefix }}"

  - name: Copy MySQL configuration
    shell: "cp {{ mysql_brew_prefix.stdout }}/support-files/my-default.cnf {{ brew_prefix.stdout }}/etc/my.cnf"
    args:
      creates: "{{ brew_prefix.stdout }}/etc/my.cnf"
    notify:
      - Restart MySQL
    tags:
      - mysql

  - name: Set max_allowed_packet
    lineinfile:
      dest: "{{ brew_prefix.stdout }}/etc/my.cnf"
      line: "max_allowed_packet = 1073741824"
      state: present
    notify:
      - Restart MySQL
    tags:
      - mysql

  - name: Set innodb_file_per_table
    lineinfile:
      dest: "{{ brew_prefix.stdout }}/etc/my.cnf"
      line: "innodb_file_per_table = 1"
      state: present
    notify:
      - Restart MySQL
    tags:
      - mysql

  - name: Set innodb_buffer_pool_size
    lineinfile:
      dest: "{{ brew_prefix.stdout }}/etc/my.cnf"
      line: "innodb_buffer_pool_size = 128M"
      regexp: '#\sinnodb_buffer_pool_size.*$'
      backrefs: yes
      state: present
    notify:
      - Restart MySQL
    tags:
      - mysql